#body {
	background-color: #000000;
}
#adding{
	margin-left: 900px;
	color: #7FFFD4;
}
#add-gif-button{
	margin-left: 900px;
}
#text-input{
	width: 200px;
}
button{
		background: #ECECEC;
		border-radius: 15px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		/*text-shadow:0px 1px 0px #fff;*/
		border:1px solid #a7a7a7;
		/*width: 145px;*/
		margin:0px auto;
		/*margin-top:100px;*/
		/*box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;*/
}
